body {
  background-color: #EEE
}

.container {
  width: 450px;
  margin: auto;
}

h1 {
  text-align: center;
  padding-bottom: 50px;
}

button {
  float: right;
}

#newToDoText {
  float: left;
}

#addToDoForm {
  padding: 16px;
}

input.mdl-checkbox {
  margin: 20px;
}
